@charset "UTF-8";

@media print {
    body {
        background-image: url('imagens/icon-print.png');
       
    }
  
  

    img#celular {display: none;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#print {display: block;}
    img#tv {display: none;}
   
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url('imagens/back-tablet.jpg');
    }

    img#celular {display: none;}
    img#tablet {display: block;}
    img#pc {display: none;}
    img#print {display: none;}
    img#tv {display: none;}
   
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url('imagens/back-pc.jpg');
    }

    img#celular {display: none;}
    img#tablet {display: none;}
    img#pc {display: block;}
    img#print {display: none;}
    img#tv {display: none;}
   
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url('imagens/back-tv.jpg');
    }

    img#celular {display: none;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#print {display: none;}
    img#tv {display: block;}
   
}